.taker_card{
    width: 350px;
    height: 200px;
    border-radius: 2px;
    position: relative;
    margin: auto;
    overflow: hidden;
    padding: 15px;
    background-color: #fff;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.1);
    transition: 0.3s ease;
}
.taker_card:hover{
    transform: translateY(-5px);
    box-shadow: 0 5px 15px 0 rgba(0,0,0,.2);
    cursor: pointer;
}
.profile_box{
    width: 100px;
    height: 200px;
    /*background-color: #3F51B5;*/
    position: relative;
    border-right: 1px solid #bcbaba;
}
.profile_pic{
    background-image: url("../img/profile/profile_img.png");
    width: 90px;
    height: 90px;
    background-size: contain;
    position: absolute;
    left: 0px;
    top: 25px;
}
.profile_box span{
    position: absolute;
    left: 3px;
    bottom: 35px;
    /*background-color: #909090;*/
    display: inline-block;
    width: 80px;
    text-align: center;
    font-size: 22px;
    font-weight: normal;
}
.taker_content{
    position: absolute;
    width: 235px;
    height: 200px;
    /*background-color: #FBC02D;*/
    top: 15px;
    left: 130px;
}
.title{
    width: 235px;
    font-size: 28px;
    font-weight: bold;
    color: rgb(24,40,71);
    /*background-color: brown;*/
}
.tag{
    /*background-color: aqua;*/
    font-size: 20px;
    font-weight: normal;
    color: rgb(231,49,47);
    width: 235px;
}
.score{
    /*background-color: darkcyan;*/
    font-size: 20px;
    font-weight: normal;
    color: rgb(29,71,120);
    width: 235px;
}
.price{
    width: 90px;
    position: absolute;
    bottom: -25px;
    right: 0px;
    /*background-color: cadetblue;*/
    font-size: 40px;
    font-weight: bold;
    color: rgb(13,26,38);
}
.taker_content li{
    margin-bottom: 25px;
}

.score .icon_small.sun {
	background-image: url("../img/sun.svg");
}
.score .icon_small.cloudy {
	background-image: url("../img/cloudy.svg");
}
.score .icon_small.clouds {
	background-image: url("../img/clouds.svg");
}
.score .icon_small.rain {
	background-image: url("../img/rain.svg");
}