
/*팝업 배경 반투명*/
.popup.scoreByGiver {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    /* 브라우저에 고정되게 하는 속성 */
    position: fixed;
    left: 0px;
    top: 0px;
    bottom: 0px;
    right: 0px;
    /*처음에는 보이지 않게*/
    display: none;
    z-index: 9999;
    overflow: auto;
}
/*실제 팝업 박스*/
#scoreByGiver {
    width: 500px;
    height: 750px;
    margin: 50px auto;
    background: #fff;
    border: 4px solid #828282;
}

/* 평점 , good , bad 감싸는 박스*/
#scoreByGiver .score {
    margin: 24px auto;
    width: 450px;
    height: 100px;
    font-weight: bold;
    font-size: 24px;
    padding-top: 50px;
}
/* 평점 , good , bad 각각 박스*/
#scoreByGiver .score>div {
    float: left;
    text-align: center;
    height: 100px;
    line-height: 100px
}
/* 평점 라벨*/
#scoreByGiver .score>div:nth-child(1) {
    display: block;
    text-align: center;
    width: 148px;
    border-right: 2px solid #ccc;
}
/*평점 good 평상시*/
#scoreByGiver .score .score_good {
    height: 100px;
    width: 120px;
    color: white;
    cursor: pointer;
    margin-left: 20px;
    background-repeat:no-repeat;
    background-image:url('../img/sun.svg');
    background-position: center center;
    background-size: 80px;
    border-bottom: 2px solid red;
}
/*평점 bad 클릭시*/
#scoreByGiver .score.on .score_good {
    /*background: #828282;*/
    border:none;
}
/*평점 bad 평상시*/
#scoreByGiver .score .score_bad {
    /*background: #828282;*/
    height: 100px;
    width: 120px;
    color: white;
    cursor: pointer;
    margin-left: 20px;
    background-repeat:no-repeat;
    background-image:url('../img/rain.svg');
    background-position: center center;
    background-size: 80px;
    border: none;
}
/*평점 good 클릭시*/
#scoreByGiver .score.on .score_bad {
    border-bottom: 2px solid red;
}

/*사진 등록 전체 박스*/
.photo_register {
    width: 450px;
    margin: 10px auto;
}
/*사진 등록 버튼*/
.photo_register>div:nth-child(1){
    height: 60px;
    width: 305px;
    margin: 0px auto;
}
.photo_register>div *{
    float: left;
    display: block;
}
/*사진등록 설명글*/
.photo_register>div>span {
    height: 60px;
    width: 185px;
    font-size: 19px;
    text-align: center;
    padding-top: 10px;
    color: #cc1b00;
    font-weight: bold;
    margin-left: 20px;
}
/*실제 사진 인푹 박스는 숨기고 canvas 활용*/
#servicePhotoInput {
    display: none;
}
.photo_register>.photo {
    margin: 0 auto;
    width: 400px;
    height: 400px;
    position: relative;
}
#scoreByGiver canvas {
    background: rgba(31, 43, 67, 0.5);
    position: absolute;
    left: 20px;
    top: 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

#scoreByGiver .btn_group {
    width: 360px;
    height: 60px;
    margin: 0 auto;
    text-align: right;
}
#scoreByGiver input[type=submit],
#scoreByGiver input[type=button],
.photo_register>div>label {

    font-size: 20px;
    cursor: pointer;
    color: #fff;
    background: #1f2b43;
    height: 60px;
    width: 100px;
    text-align: center;
    line-height: 60px;
    border-radius: 10px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
#scoreByGiver input[type=submit],
#scoreByGiver input[type=button] {
    outline: none;
    background: #222222;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
#scoreByGiver input[type=submit] {

}
#scoreByGiver input[type=button] {
    background: #828282;
}