<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
 

	<!-- post 방식 한글 필터 -->
	<filter>
		<filter-name>encoding</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
	</filter>
	
	<filter-mapping>
		<filter-name>encoding</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<!-- REST 적용 필터 -->
	<filter>
		<filter-name>httpMethodFilter</filter-name>
		<filter-class>org.springframework.web.filter.HiddenHttpMethodFilter</filter-class>
	</filter>
		
	<filter-mapping>
		<filter-name>httpMethodFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<!-- WEB-INF에 있는 applicationContext.xml를 읽어들이는 listener 설정 -->
	<listener>
		<listener-class>
			org.springframework.web.context.ContextLoaderListener
		</listener-class>
	</listener>
	
	<!-- WEB-INF에 있는 awesome-servlet.xml을 읽어서 스프링 WEBMVC를 작동시키는 프론트 컨트롤러인 
	DispatcherServlet 설정 -->
	<servlet>
		<servlet-name>poom</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<!-- 서버가 켜지자마자 작동되게끔! (안쓰면 *.jbm주소를 요청할 때만 작동됨 -->
		<load-on-startup>1</load-on-startup>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>poom</servlet-name>
		<url-pattern>*.poom</url-pattern>
		<url-pattern>/</url-pattern>
		<!-- *.ims로 요청올 때만 spring 작동하게끔 -->
	</servlet-mapping>

</web-app>